@import './main.scss';
.Ordering{
    text-align: left;
    min-height: 800px;
    .banner{
        margin-top: 10px;
    }
    h2{
        font-weight: 400;
        color: $color4;
        margin: 50px 0px 30px 0px;
    }
    p{
        font-size: 16px;
        line-height: 30px;
    }
}