@import './main.scss';
.Quotation{
    min-height: 700px;
    h2{
        font-weight: 400;
        color: $color4;
        margin: 30px 0px 30px 0px;
        text-align: left;
    }
    .el-form{
        .col_left{
            border-right: 2px solid $color7;
            padding-right: 100px;
            padding-left: 30px;
        }
        .col_right{
            padding-left: 100px;
            padding-right: 30px;
        }
        .el-button{
            width: 100%;
        }
        .el-form-item{
            margin-bottom: 22px;
        }
        .el-col{
            min-height: 500px;
        }
    }
}