@import './main.scss';
.Register{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
    padding: 20px 0;
    margin: 20px 0px;
    .el-form{
        width: 500px;
        margin: 0px auto;
        text-align: left;
        .el-select{
            width: 100%;
        }
        .el-button{
            width: 100%;
        }
    }
}